

<div style='border: 3px dashed red'>
<img src='https://media.newyorker.com/photos/5dfab39dde5fcf00086aec77/16:9/w_1280,c_limit/Lane-Cats.jpg'>
</div>

<h1> My name is Judi Dench <%= @name %>! </h1>
